[flake8]
ignore = E121,E126,W503,W504,E203,W605,B006
exclude =
    bigbytes/data_preparation/templates,
    bigbytes/orchestration/db/migrations/versions,
    bigbytes_integrations/bigbytes_integrations/sources/*/tap_*/,
    bigbytes_integrations/bigbytes_integrations/destinations/*/target_*/
max-line-length = 100
per-file-ignores =
    bigbytes/orchestration/pipeline_scheduler.py: F401,F403
