$colors-black: #000000;
$colors-blackfixed: #000000;
$colors-blackhi: #000000d9;
$colors-blacklo: #00000033;
$colors-blackmd: #00000099;
$colors-blue: #38b6ff;
$colors-bluehi: #38b6ffd9;
$colors-bluelo: #38b6ff33;
$colors-bluemd: #38b6ffb3;
$colors-bluemuted: #5aa6ff;
$colors-bluetext: #38b6ff;
$colors-dbt: #38b6ff;
$colors-dbthi: #38b6ffd9;
$colors-dbtlo: rgba(56,182,255, 0.3);
$colors-dbtmd: rgba(56,182,255, 0.5);
$colors-glow2: #38b6ff;
$colors-glow: #38b6ff66;
$colors-gray: #34404c;
$colors-grayhi: #34404cd9;
$colors-graylo: #34404C33;
$colors-graymd: #34404CB3;
$colors-green: #00c868;
$colors-greenhi: #00c868d9;
$colors-greenlo: #00c86833;
$colors-greenmd: #00c868b3;
$colors-pink: #38b6ff;
$colors-pinkhi: #38b6ffd9;
$colors-pinklo: #38b6ff33;
$colors-pinkmd: #38b6ffb3;
$colors-purple: #38b6ff;
$colors-purplehi: #38b6ffd9;
$colors-purplelo: #38b6ff33;
$colors-purplemd: #38b6ffb3;
$colors-red: #ff3b3b;
$colors-redhi: #ff3b3bd9;
$colors-redlo: #ff3b3b33;
$colors-redmd: #ff3b3bb3;
$colors-rose: #38b6ff;
$colors-rosehi: #38b6ffd9;
$colors-roselo: #38b6ff33;
$colors-rosemd: #38b6ffb3;
$colors-sky: #9ecbff;
$colors-skyhi: rgba(106, 161, 224, 0.5);
$colors-skylo: #6aa1e0;
$colors-skymd: #9ecbffb3;
$colors-statuses-success: #8ade00;
$colors-statuses-successhi: rgba(138, 222, 0, 0.3);
$colors-teal: #38b6ff;
$colors-tealhi: rgba(0, 180, 204, 0.5);
$colors-teallo: #38b6ff33;
$colors-tealmd: #38b6ffb3;
$colors-white: #ffffff;
$colors-whitefixed: #ffffff;
$colors-whitehi: #ffffff1a;
$colors-whitelo: #ffffff80;
$colors-whitemd: #ffffff99;
$colors-yellow: #38b6ff;
$colors-yellowhi: #38b6ffd9;
$colors-yellowlo: #38b6ff33;
$colors-yellowmd: #38b6ff;
/* ----------------------------------------------------------------------------------------------- */
$backgrounds-body: #000000;
$backgrounds-button-base-default: #28333d;
$backgrounds-button-base-hover: $colors-graymd;
$backgrounds-button-basic-default: transparent;
$backgrounds-button-basic-hover: #ffffff1a;
$backgrounds-button-primary-default: #38b6ff;
$backgrounds-button-primary-hover: #38b6ffd9;
$backgrounds-button-secondary-default: #00c868;
$backgrounds-button-secondary-hover: #00c868d9;
$backgrounds-input-base-active: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(37, 175, 217, 0) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-default: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-focus: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-hover: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$backgrounds-menu-base-default: $colors-graymd;
$backgrounds-menu-contained-default: #34404c;
$backgrounds-scrollbar-thumb-default: #34404c;
$backgrounds-scrollbar-thumb-hover: #ffffff80;
$backgrounds-scrollbar-track-default: $colors-graylo;
$backgrounds-scrollbar-track-hover: $colors-graymd;
$blue: radial-gradient(56% 182% at 255% 145.77%, $colors-bluelo 0%, rgba($colors-blue, 0.00) 100%), rgba($colors-blue, 0.10);
$borders-color-base-default: #34404c;
$borders-color-base-hover: #34404cd9;
$borders-color-button-base-default: #38b6ff;
$borders-color-button-base-hover: #34404c;
$borders-color-button-basic-default: #38b6ff;
$borders-color-button-basic-hover: #34404c;
$borders-color-button-primary-default: #34404c;
$borders-color-button-primary-hover: #34404c;
$borders-color-button-secondary-default: #34404c;
$borders-color-button-secondary-hover: #34404c;
$borders-color-input-base-active: #38b6ff;
$borders-color-input-base-default: #38b6ff;
$borders-color-input-base-focus: #38b6ff;
$borders-color-input-base-hover: #38b6ff;
$borders-color-muted-default: graylo;
$borders-color-muted-hover: $colors-graylo;
$buttons-border-color-base-default: #38b6ff;
$buttons-border-color-base-hover: #34404c;
$buttons-border-color-basic-default: #38b6ff;
$buttons-border-color-basic-hover: #34404c;
$buttons-border-color-primary-default: #34404c;
$buttons-border-color-primary-hover: #34404c;
$buttons-border-color-secondary-default: #34404c;
$buttons-border-color-secondary-hover: #34404c;
$buttons-outline-color-base-default: #38b6ff;
$buttons-outline-color-base-hover: #34404c;
$buttons-outline-color-basic-default: whitelo;
$buttons-outline-color-basic-hover: #ffffff80;
$buttons-outline-color-primary-default: #38b6ff;
$buttons-outline-color-primary-hover: #38b6ff;
$buttons-outline-color-secondary-default: #00c868;
$buttons-outline-color-secondary-hover: #00c868;
$fonts-color-button-base: #ffffff;
$fonts-color-text-base: #ffffff;
$fonts-color-text-blue: #38b6ff;
$fonts-color-text-inverted: #000000;
$fonts-color-text-muted: $colors-whitemd;
$fonts-color-text-warning: $colors-yellow;
$icons-color-base: #ffffff;
$icons-color-inverted: #000000;
$inputs-background-base-active: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-default: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-focus: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-background-base-hover: radial-gradient( 56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100% ), rgba(42, 76, 255, 0.10);
$inputs-border-color-base-active: #38b6ff;
$inputs-border-color-base-default: #38b6ff;
$inputs-border-color-base-focus: #38b6ff;
$inputs-border-color-base-hover: #38b6ff;
$inputs-placeholder-color: #ffffff80;
$menus-background-base-default: $colors-graymd;
$menus-background-contained-default: #34404c;
$menus-blur-base: saturate(100%) blur(3px);
$scrollbars-background-thumb-default: #34404c;
$scrollbars-background-thumb-hover: #ffffff80;
$scrollbars-background-track-default: $colors-graylo;
$scrollbars-background-track-hover: $colors-graymd;
