$colors-black: #000000;
$colors-blackfixed: #000000;
$colors-blacklo: #00000033;
$colors-blackmd: #00000099;
$colors-blackhi: #000000D9;
$colors-blue: #38b6ff;
$colors-bluehi: #38b6ffD9;
$colors-bluelo: #38b6ff33;
$colors-bluemd: #38b6ffB3;
$colors-bluemuted: #5AA6FF;
$colors-bluetext: #38b6ff;
$colors-teal: #38b6ff;
$colors-tealhi: rgba(0, 180, 204, 0.5);
$colors-teallo: #38b6ff33;
$colors-tealmd: #38b6ffB3;
$colors-dbt: #38b6ff;
$colors-dbthi: #38b6ffD9;
$colors-dbtlo: rgba(56,182,255, 0.3);
$colors-dbtmd: rgba(56,182,255, 0.5);
$colors-glow: #38b6ff4D;
$colors-glow2: #FFFFFF;
$colors-gray: #38b6ff;
$colors-graylo: #38b6ff1A;
$colors-graymd: #38b6ffB3;
$colors-grayhi: #38b6ffD9;
$colors-green: #00C868;
$colors-greenlo: #00C86833;
$colors-greenmd: #00C868B3;
$colors-greenhi: #00C868D9;
$colors-pink: #38b6ff;
$colors-pinklo: #38b6ff33;
$colors-pinkmd: #38b6ffB3;
$colors-pinkhi: #38b6ffD9;
$colors-purple: #38b6ff;
$colors-purplelo: #38b6ff33;
$colors-purplemd: #38b6ffB3;
$colors-purplehi: #38b6ffD9;
$colors-red: #FF3B3B;
$colors-redhi: #FF3B3BD9;
$colors-redlo: #FF3B3B33;
$colors-redmd: #FF3B3BB3;
$colors-rose: #38b6ff;
$colors-rosehi: #38b6ffD9;
$colors-roselo: #38b6ff33;
$colors-rosemd: #38b6ffB3;
$colors-sky: #9ECBFF;
$colors-skyhi: rgba(106, 161, 224, 0.5);
$colors-skylo: #6AA1E0;
$colors-skymd: #9ECBFFB3;
$colors-yellow: #38b6ff;
$colors-yellowhi: #E6B000D9;
$colors-yellowlo: #E6B00033;
$colors-yellowmd: #E6B000;
$colors-white: #FFFFFF;
$colors-whitefixed: #FFFFFF;
$colors-whitelo: #1B006699;
$colors-whitemd: #1B006699;
$colors-whitehi: #1B00661A;
/* ----------------------------------------------------------------------------------------------- */
$backgrounds-blur: rgba(255, 255, 255, 0.7);
$backgrounds-body: #FFFFFF;
$backgrounds-button-base-default: #38b6ff;
$backgrounds-button-base-hover: #1B00661A;
$backgrounds-button-basic-default: transparent;
$backgrounds-button-basic-hover: #1B00661A;
$backgrounds-button-primary-default: #38b6ff;
$backgrounds-button-primary-hover: #38b6ffD9;
$backgrounds-button-secondary-default: #00C868;
$backgrounds-button-secondary-hover: #00C868D9;
$backgrounds-input-base-active: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-default: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-focus: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-input-base-hover: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$backgrounds-menu-base-default: #38b6ffB3;
$backgrounds-menu-contained-default: #38b6ff;
$backgrounds-scrollbar-thumb-default: #38b6ff;
$backgrounds-scrollbar-thumb-hover: #1B006699;
$backgrounds-scrollbar-track-default: #38b6ff1A;
$backgrounds-scrollbar-track-hover: #38b6ffB3;
$borders-color-base-default: #38b6ff;
$borders-color-base-hover: #38b6ffD9;
$borders-color-button-base-default: #38b6ff;
$borders-color-button-base-hover: #38b6ff;
$borders-color-button-basic-default: #38b6ff;
$borders-color-button-basic-hover: #38b6ff;
$borders-color-button-primary-default: #38b6ff;
$borders-color-button-primary-hover: #38b6ff;
$borders-color-button-secondary-default: #38b6ff;
$borders-color-button-secondary-hover: #38b6ff;
$borders-color-input-base-active: #38b6ff;
$borders-color-input-base-default: #38b6ff;
$borders-color-input-base-focus: #38b6ff;
$borders-color-input-base-hover: #38b6ff;
$borders-color-muted-default: grayLo;
$borders-color-muted-hover: #38b6ff1A;
$buttons-border-color-base-default: gray;
$buttons-border-color-base-hover: #38b6ff;
$buttons-border-color-basic-default: gray;
$buttons-border-color-basic-hover: #38b6ff;
$buttons-border-color-primary-default: #38b6ff;
$buttons-border-color-primary-hover: #38b6ff;
$buttons-border-color-secondary-default: #38b6ff;
$buttons-border-color-secondary-hover: #38b6ff;
$buttons-outline-color-base-default: gray;
$buttons-outline-color-base-hover: #38b6ff;
$buttons-outline-color-basic-default: blackLo;
$buttons-outline-color-basic-hover: #00000033;
$buttons-outline-color-primary-default: #38b6ff;
$buttons-outline-color-primary-hover: #38b6ff;
$buttons-outline-color-secondary-default: #00C868;
$buttons-outline-color-secondary-hover: #00C868;
$colors-backgrounds-blur: rgba(56,182,255, 0.7);
$colors-backgrounds-body: #FFFFFF;
$colors-backgrounds-button-base-default: #38b6ff;
$colors-backgrounds-button-base-hover: #1B00661A;
$colors-backgrounds-button-basic-default: transparent;
$colors-backgrounds-button-basic-hover: #1B00661A;
$colors-backgrounds-button-primary-default: #38b6ff;
$colors-backgrounds-button-primary-hover: #38b6ffD9;
$colors-backgrounds-button-secondary-default: #00C868;
$colors-backgrounds-button-secondary-hover: #00C868D9;
$colors-backgrounds-input-base-active: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-default: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-focus: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-input-base-hover: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$colors-backgrounds-menu-base-default: #38b6ffB3;
$colors-backgrounds-menu-contained-default: #38b6ff;
$colors-backgrounds-scrollbar-thumb-default: #38b6ff;
$colors-backgrounds-scrollbar-thumb-hover: #1B006699;
$colors-backgrounds-scrollbar-track-default: #38b6ff1A;
$colors-backgrounds-scrollbar-track-hover: #38b6ffB3;
$colors-borders-base-default: #38b6ff;
$colors-borders-base-hover: #38b6ffD9;
$colors-borders-button-base-default: #38b6ff;
$colors-borders-button-base-hover: #38b6ff;
$colors-borders-button-basic-default: #38b6ff;
$colors-borders-button-basic-hover: #38b6ff;
$colors-borders-button-primary-default: #38b6ff;
$colors-borders-button-primary-hover: #38b6ff;
$colors-borders-button-secondary-default: #38b6ff;
$colors-borders-button-secondary-hover: #38b6ff;
$colors-borders-input-base-active: #38b6ff;
$colors-borders-input-base-default: #38b6ff;
$colors-borders-input-base-focus: #38b6ff;
$colors-borders-input-base-hover: #38b6ff;
$colors-borders-muted-default: grayLo;
$colors-borders-muted-hover: #38b6ff1A;
$colors-icons-base: #000000;
$colors-icons-inverted: #FFFFFF;
$colors-outline-button-base-default: #38b6ff;
$colors-outline-button-base-hover: #38b6ff;
$colors-outline-button-basic-default: blackLo;
$colors-outline-button-basic-hover: #00000033;
$colors-outline-button-primary-default: #38b6ff;
$colors-outline-button-primary-hover: #38b6ff;
$colors-outline-button-secondary-default: #00C868;
$colors-outline-button-secondary-hover: #00C868;
$colors-placeholder-input-base: #00000033;
$colors-statuses-success: #38b6ff;
$colors-statuses-successhi: rgba(138, 222, 0, 0.3);
$colors-typography-button-base: #130048;
$colors-typography-text-base: #000000;
$colors-typography-text-blue: #38b6ff;
$colors-typography-text-inverted: #FFFFFF;
$colors-typography-text-muted: #00000099;
$fonts-color-button-base: #130048;
$fonts-color-text-base: #000000;
$fonts-color-text-blue: #38b6ff;
$fonts-color-text-inverted: #FFFFFF;
$fonts-color-text-muted: #00000099;
$fonts-color-text-warning: $colors-yellow;
$icons-color-base: #000000;
$icons-color-inverted: #FFFFFF;
$inputs-background-base-active: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-default: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-focus: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-background-base-hover: radial-gradient(56% 182% at 255% 145.77%, rgba(42, 76, 255, 0.08) 0%, rgba(42, 76, 255, 0.00) 100%), rgba(42, 76, 255, 0.10);
$inputs-border-color-base-active: #38b6ff;
$inputs-border-color-base-default: #38b6ff;
$inputs-border-color-base-focus: #38b6ff;
$inputs-border-color-base-hover: #38b6ff;
$inputs-placeholder-color: #00000033;
$menus-background-base-default: #38b6ffB3;
$menus-background-contained-default: #38b6ff;
$menus-blur-base: saturate(100%) blur(3px);
$scrollbars-background-thumb-default: #38b6ff;
$scrollbars-background-thumb-hover: #1B006699;
$scrollbars-background-track-default: #38b6ff1A;
$scrollbars-background-track-hover: #38b6ffB3;
